
// Body
$body-bg: white;
$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "blue": #0074d9,
);
// Typography
$font-family-sans-serif: 'Roboto Condensed', 'Source Sans Pro', 'Calibri', 'Droid Sans',  'Avenir',  Helvetica, Arial, sans-serif;
$font-family-cursive: 'Great Vibes',  'Source Sans Pro', 'Calibri', 'Droid Sans',  'Avenir',  Helvetica, Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.3;

// Colors
$blue: #0074d9;
$indigo: #563d7c;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #3f844e;
$teal: #008080;
$cyan: #00FFFF;
