
// Body
$body-bg: white;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: 'Great Times', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3f844e;
$indigo: #3f844e;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #3f844e;
$teal: #94ffa5;
$cyan: #94ffa5;
