
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background:#fff radial-gradient(circle, rgba(255,255,255,1.0) 50%, rgba(220,220,220,0.8)) no-repeat;
  min-height:100vh;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
