
// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~trumbowyg/dist/ui/trumbowyg.min.css';
@import '~font-awesome/css/font-awesome.min.css';

body {
  background:#fff radial-gradient(rgba(255,255,255,1.0) 50%, rgba(220,220,220,1.0)) no-repeat;
  min-height:100vh;
  font-family:$font-family-sans-serif;
  color:#677789;
  transition: all 0.25s ease-in-out;
}

.navbar-heisen {
  text-transform: uppercase;
  font-size:1.0rem;
  font-family:$font-family-sans-serif;
}

h1 {
  font-family: $font-family-serif;
  font-size:48px;
  font-weight:100;
  text-shadow: #000 1px 1px 2px, #94ffa5 2px 2px 2px;
  color:#344456;
}

h2, h3 {
    font-family: $font-family-sans-serif;
    font-weight: 600;
}

.info {
 margin: 0.5rem 0;
}

.info > img, .info > a > img, .info > a > div {
  box-shadow: #000 1px 1px 2px, #94ffa5 2px 2px 2px;
  border-radius:0.25rem;
  max-width:660px;
  width:100%;
  margin: 0.5rem 0;
}

a:link, a:hover, a:active, a:visited {
    color:#777789;
    text-decoration:none;
}

input[type="checkbox"] {
    display: inline-block;
    top: -3px;
    position: relative;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cart-slider-wrapper{
    top:0;
    z-index:30;
    position:sticky;
    transition: all 0.25s ease-in-out;
}

input[type=text], input[type=number], textarea {
    font-size: 16px;
}

.cart-slider {
    color:white;
    position: absolute;
    display:none;
    right:0;
    top:0;
    width:0;
    height:0;
    z-index:50;
    border:1px solid white;
    border-bottom-left-radius:1.333em;
    border-top:none;
    border-right:none;
    background-color:hsla(212,25%, 27%, 0.95);
    transition: all 0.25s ease-in-out;
}

.cart-slider-button{
    position: absolute;
    right:0;
    margin:1rem;
    margin-right:2rem;
    background-color:hsla(212,25%, 27%, 0.95);
    color:white;
    padding:0.8rem;
    border-radius:50%;
    z-index:50;
    transition: all 0.25s ease-in-out;
}

.cart-slider-contents {
    padding:1.33rem;
    color:white;
}


.cart-slider-active {
    height:100vh;
    width:75%;
    display:block;
    transition: all 0.25s ease-in-out;
}

@include media-breakpoint-up(sm) {
    .cart-slider-active {
        height:87.25vh;
        width:66.666667%;
    }
}

@include media-breakpoint-up(md) {
    .cart-slider-active {
        height:75vh;
        width:50%;
    }
}

@include media-breakpoint-up(lg) {
    .cart-slider-active {
        height:66.666667vh;
        width:25%;
    }
}

.navbar-toggler {
    padding: 0.25rem;
    border-radius:50%;
    margin:1rem;
}
